body {
  background: grey;
  display: flex;
  justify-content: center;
}

div.scrollElement {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  /* debugging */
  /* border: 1px solid grey; */
}

div#scroll {
  position: relative;
  background: white;
  width: 300px;
  height: 1300px;
  border: solid black 2px;
}

div#focalPoint {
  position: relative;
  left: 128px;
  top: 300px;
  font-weight: bold;
  font-size: 65pt;
}

div#greenText {
  position: relative;
  left: 68px;
  top: 400px;
  font-weight: bold;
  font-size: 50pt;
  color: #CEDCC7;
}

div#smallPrintTopRight {
  position: relative;
  left: 150px;
  top: 52px;
  font-size: 7pt;
}
div#smallPrintTopLeft {
  position: relative;
  left: 130px;
  top: 67px;
  font-size: 7pt;
}

div#smallPrintBottomRight {
  position: relative;
  left: 150px;
  top: 900px;
  font-size: 7pt;
}

div#smallPrintBottomLeft {
  position: relative;
  left: 130px;
  top: 915px;
  font-size: 7pt;
}

div#signature {
  position: relative;
  left: 140px;
  top: 1150px;
  font-size: 5pt;
}

div#stamp {
  position: relative;
  left: 140px;
  top: 1190px;
  width: 11px;
  height: 11px;
  background: darkred;
}


